@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    background-color: #1e1e1e;
    font-family: 'Anonymous Pro', monospace;
  }
* {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
  }

button {
    padding: 12px 24px;
    background-color: #00BD62;
    color: white;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #10b981;
  }

  .login_register {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;
  }
  
  .centered-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .welcome_page {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
    padding: 0;
  }



  
  
  